asgiref==3.11.1
black==26.3.1
click==8.3.3
Django==6.0.5
django-cors-headers==4.9.0
django-environ==0.13.0
django-ratelimit==4.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.2.0
platformdirs==4.9.6
psycopg2-binary==2.9.12
PyJWT==2.12.1
pytokens==0.4.1
ruff==0.15.12
sqlparse==0.5.5
